<h1> Edit Category <%= @category.name %> </h1>

<div>
  <%= bootstrap_form_for(@category, layout: :inline)  do |f|%>
  <%= f.text_field :name %>
  <button type="submit" class="btn btn-success">Update</button>
  <% end %>
</div>
